<div class="center jumbotron">
  <h1>Welcome to the request tracking system</h1>

  
  <div>
  <%= link_to "Make a request now!", controller: "requests", action: "new" %></div>
  <div>
  <%= link_to "Make an estimate now!", controller: "estimates", action: "index" %></div>
</div>

