<h2>All Requests:</h2><br>
<% if @requests.nil?||@requests.length==0 %>
No request yet!
<% else %>
<% @requests.each do |e|%>
<%= link_to e.name , e%><br>
<b>Estimates:</b><br>
<% estimates=e.estimates %>
<% if estimates.nil?||estimates.length==0 %>
No estimate yet!
<% else %>
<% estimates.each do |d|%>
<%= link_to d.name , d%><br>
<% end%>
<% end%>
<br><br>
<% end%>
<% end%>





