<h2>Request Info:</h2><br>
<b>Name:</b><br>
<%= @request.name %><br>
<b>Contact:</b><br>
<%= @request.contact %><br>
<b>Content:</b><br>
<%= @request.content %><br>



<h2>Estimate Info:</h2>
<b>Name:</b><br>
<%= @estimate.name %><br>
<b>Contact:</b><br>
<%= @estimate.contact %><br>
<b>Content:</b><br>
<%= @estimate.content %><br>
