<h2>Request Info:</h2><br>
<b>Name:</b><br>
<%= @request.name %><br>
<b>Contact:</b><br>
<%= @request.contact %><br>
<b>Content:</b><br>
<%= @request.content %><br>

<div>
    <%= link_to "make an estimate" , controller:"estimates", action:"new", r_id: @request.id %>
</div>
